<!doctype html>
<html>
<head>
<title><%=shopName%></title>
<link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Register for <%=shopName%></h1>
<p>Fill in Form to Register:</p>
<form method="POST" action="/registered">
<label for="fname">First name:</label>
<input id="first" type="text" name="first" value="first name" /> <br>
<br> <label for="fname">Last name:</label>
<input id="last" type="text" name="last" value="last name" /> <br>
<br> <label for="fname">Email:</label>
<input id="email" type="Email" name="email" value="email" /> <br>
<br> <input type="submit" value="OK" />
</form>
</body>
</html>