<main>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" required>
      <label for="email">Email:</label>
      <input type="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" name="password" required>
      <label for="name">Name:</label>
      <input type="text" name="name" required>
      <label for="surname">Surname:</label>
      <input type="text" name="surname" required>
      <label for="university">University:</label>
      <input type="text" name="university">
      <label for="degree">Degree:</label>
      <input type="text" name="degree">
      <label for="subject">Subject:</label>
      <input type="text" name="subject">
      <label for="year_of_study">Year of Study:</label>
      <input type="number" name="year_of_study">
      <button type="submit">Sign Up</button>
    </form>
  </main>
    