<!DOCTYPE html>
<!--Setting lang for the page-->
<html lang="en">
    <head>
        <!--       character set-->
        <meta charset="utf-8" />
        <!--       title for page-->
        <title>Contact</title>
        <meta name="description" content="My Website" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--       linking stylesheet-->
        <link rel="stylesheet" href="/review.css" />
        <link rel="stylesheet" href="/contact.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="/review.js"></script>
    </head>
    <body>
        <!--    Grid container   -->
        <div class="grid-container">
            <!--   Sections    -->
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/forum">Forum</a>
                <div class="search-container">
                    <form action="/search" method="GET">
                        <input type="text" id="university" placeholder="Search..." name="university" required />
                    </form>
                </div>
                <p>Dark mode</p>
                <label class="switch">
                    <input type="checkbox" checked />
                    <span id="ColourChanger" class="slider round"></span>
                </label>
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a href="/signin">Sign in</a>
                        <a href="/signup">Sign up</a>
                        <a href="/profile">Profile</a>
                        <a href="/review">Review</a>
                    </div>
                </div>
            </div>
            <div class="social">
                <div class="sections">
                    <h1>Contacts:</h1>
                    <p class="h4">Mohamed Abdalla:</p>
                    <p>email: mahme003@gold.ac.uk</p>
                    <p class="h4">Debbie Cummings:</p>
                    <p>email: dcumm002@gold.ac.uk</p>
                    <p class="h4">Charles Rowles-Davies:</p>
                    <p>email: crowl001@gold.ac.uk</p>
                    <p class="h4">Gvidas Lekstutis:</p>
                    <p>email: gleks001@gold.ac.uk</p>
                    <p class="h4">Grace Maxwell:</p>
                    <p>email: gmaxw002@gold.ac.uk</p>
                </div>
            </div>
        </div>
    </body>
</html>
