<!doctype html>
<html>
   <head>
      <title><%=forumName%> - Welcome</title>
      <link rel="stylesheet" type="text/css" href="/main.css" />
   </head>
   <body>
      <h1>Welcome to <%=forumName%></h1>
      <ul>
         <li><a href="about">About <%=forumName%></a></li>
         <li><a href="viewposts">View Posts</a></li>
         <li><a href="users">List Users</a></li>
         <li><a href="topics">List Topics</a></li>
         <li><a href="addpost">Add a New Post</a></li>
         <li><a href="search">Search for Posts</a></li>
      </ul>
   </body>
</html>
